@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.continuous-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh; /* Adjust the container height */
}

.continuous-scroll-content {
  display: flex;
  flex-direction: column;
  animation: scroll 20s linear infinite; /* Adjust speed for desired scroll speed */
}

.continuous-scroll-content > div {
  height: 16rem; /* Adjust each image height */
}
